body {
    font-family: Palatino, sans-serif;
}
.s {
    font-size: 120%;
}
table, table th, table td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
table td:not(:first-child) {
    text-align: right;
}
table th, table td {
    padding: 4px 8px;
}
table th {
    font-weight: normal;
}
table thead {
    background-color: #eee;
}
#numbers {
    padding-top: 5em;
    display: table;
}
#numbers div {
    display: table-row;
}
#numbers div span {
    display: table-cell;
}
#numbers div span:first-child {
    text-align: start;
}
#numbers div span:nth-child(2) {
    padding: 0 5px 0 5px;
}
#numbers div span:last-child {
    text-align: end;
}
